@charset "utf-8";
html, body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
    font-size:100%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
	display:grid;
	background-color:blue;
}

aside {
	grid-area: toolbar;
	background-color: green;
	display: flex;
}

aside>div {
	flex:auto;
	margin: 0.2ex;
}

article{
	grid-area: board;
	background-color:yellow;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	justify-content: space-around;
}

article>section{
	flex: 0 0 auto;
	margin: 0.2ex;
}

#board svg{
	/*height: 5ex;*/
}

@media screen and (orientation: portrait){
	body{
  		grid-template-columns: 1fr;
		grid-template-rows: minmax(9ex,10%) 1fr;
		grid-template-areas:"toolbar"
							"board";
	}
	
	aside{
		flex-direction: row;
	}
}

@media (orientation: landscape){
	body{
  		grid-template-columns: minmax(9ex,10%) 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "toolbar board";
	}
	
	aside{
		flex-direction: column;
	}
}

#unit {
	height:1em;
	width:1ex;
	visibility:hidden;
	position:absolute;
	left:0;
	top:0;
}

*.package{
	fill:yellow;
	stroke:black;
	stroke-width:.2ex;
}

svg {
	width:100%;
	height:100%;
	display:block;
}

